table {
  border-style: solid;
  align: center;
  text-align: center;
  font-size: 30pt;
  margin-left: auto;
  margin-right: auto;
  background-image: url("https://media.giphy.com/media/bZZzmKoyv5XY4/giphy.gif");
}
button {
  width: 100px;
  height: 100px;
}

td {
  height: 150px;
  width: 150px;
}
.button {
  width: 100px;
  height: 100px;
}
body {background-image: url("https://images5.alphacoders.com/542/542652.jpg");
      background-size: cover;
      }

.jumbotron {
  background-color: rgba(210, 180, 140, 0.7);}

h1, h2, h3 {
  text-align: center;
  color: #D80036;
  font-size: 48pt;
 }
